/* Soft-reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Variables */

:root {
    --bg-color: #1F1F1F;
    --primary-color: #182658;
    --secondary-color: #FFFFFF;
    --primary-color-transparent: #FFFFFF34;
    --primary-color-txt: #FFFFFF;
    --placeholder-color-txt: #01114A30;
    --msgs-primary: #0E71D6;
    --blue-money-color: #4077D0;
    --green-money-color: #40F7D0
    --red-money-color: #ff1e46;
    --transparent: #00000000;
    --semi-transparent: #ffffff34;
    --transition: .5s;

}

/* Inheritance */

html {
    font-size: 62.5%;    /* Alterar valor de calculo do 'rem' de 16px para 10px */
}

body {
    border: 0.17rem solid var(--primary-color) !important;
    border-radius: 0.2rem;


    font-size: 1.6rem;    /* Retornando valor padrão de fonte-size do body com unidade rem */
    color: var(--primary-color-txt);
    /* background-color: var(--bg-color); */
    min-height: 100vh !important;
}

header {
    border: 0.2rem solid var(--primary-color) !important;
    border-radius: 0.3rem;
    background-color: #4077D050;

    width: max-content;
}

main {    
    border: 0.3rem solid var(--primary-color) !important;
    border-radius: 0.3rem;
    background-color: #50a2b5;
    height: max-content;
}

footer {
    border: 0.2rem solid var(--primary-color) !important;
    border-radius: 0.3rem;
    background-color: #c240d0;
}

section {    
    border: 0.2rem solid var(--primary-color) !important;
    border-radius: 0.3rem;
}

button {
    border: 0.2rem solid var(--transparent) !important;
}

.left-side-menu {    
    border: 0.2rem solid var(--primary-color) !important;
    border-radius: 0.3rem;


    width: 4.43rem;
    height: max-content;
}

.middle-header-container {
    width: 100%;
    height: max-content;
}

.right-side-menu {    
    border: 0.2rem solid var(--primary-color) !important;
    border-radius: 0.3rem;


    width: 4.43rem;
    height: max-content;
}

.logomarca-small {
    width: 24rem;
}

.icon-size {
    border: 0.24rem solid var(--primary-color) !important;
    border-radius: 0.3rem;

    width: 4.86rem;
    height: 4.86rem;

}

.fi {
    color: var(--primary-color);
    font-size: 4.6rem;
}

.search-merch-container {
    width: 100%;
}

.search-bar {
    width: 86%;
    height: 2.5rem;
}

.search-bar-input {   
    font-size: 1.6rem;
    color: var(--primary-color);
    color: var(--placeholder-color-txt); 
    border: 0.2rem solid var(--primary-color) !important;
    border-radius: 0.7rem;
    width: 90%;
    height: 4.43rem;
}

.search-bar-line{
    left: 48%;
    top: -5rem;
    position: relative;
    height: 3.2rem;
    width: .12rem;
}

.search-bar-btn {
    left: 48%;
    top: -4.2rem;
    position: relative;
    background-color: var(--transparent);
    height: 4.86rem;
    width: 4.86rem;
}

.first-access-msg {
    position: relative;
    margin: auto;
    text-align: justify;
    font-size: 2.5rem;    
    border: 0.45rem solid var(--primary-color) !important;
    border-radius: 0.7rem;
    height: max-content;
    width: 95%;
    background-color: var(--msgs-primary);
}
.pointer-container {
    position: relative;
    left: 94.8%;
    top: -16.6rem;
    border-top: 0.4rem solid var(--primary-color) !important;
    border-radius: 0.3rem;
    width: 9rem;
    height: 4.4rem;
}
.fi-ss-caret-down {
    position: relative;
    top: -7rem;
    left: -3rem;

    font-size: 15rem;
    color: var(--msgs-primary);
}

.merch-box { 
    border: 0.12rem solid var(--primary-color) !important;
    border-radius: 0.5rem;
    height: 44rem;
    width: 80%;
    background-color: var(--primary-color);
}
