/* Soft-reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    text-decoration: none;
    outline-color: #00000000;
}

/* Variables */

:root {
    --bg-color: #F7F7F7;
    --primary-color: #182658;
    --secondary-color: #F7F7F7;
    --primary-color-transparent: #FFFFFF34;
    --primary-color-txt: #FFFFFF;
    --secondary-color-txt: #182658;
    --terceary-color-txt: #05F0FF;
    --placeholder-color-txt: #01114A30;
    --msgs-primary: #0E71D6;
    --drop-shadow-color-primary: #05F0FF;
    --light-blur-color-primary: #05F0FF90;
    --drop-shadow-color-secondary: #00000025;
    --invis: #00000000;
    --semi-trasnsparent: #ffffff34;
    --transition: .5s;

}

/* Inheritance */

html {
    font-size: 62.5%;    /* Alterar valor de calculo do 'rem' de 16px para 10px */
    width: 100vw !important;
}

body {
    font-size: 1.6rem;    /* Retornando valor padrão de fonte-size do body com unidade rem */
    color: var(--primary-color-txt);
    background-color: var(--bg-color);
    min-height: 100vh !important;
}

header {
    margin-top: 2.55rem;
    width: max-content;
}

main {    
    height: max-content;
}

footer {
}

section {

}

button {
    border: 0.1rem solid var(--invis) !important;
}

.left-side-menu {
    width: 4.43rem;
    height: max-content;
}

.middle-header-container {
    width: 100%;
    height: max-content;
}

.right-side-menu {    
    width: 4.43rem;
    height: max-content;
}

.img-icon-size {
    width: 2.2rem;
    height: 2.2rem;
}


.logomarca-small {
    width: 10rem;
    height: 1.9rem;
    
/*  bigscreen   
    width: 24rem; */
}

.icon-size {    
    width: 2.8rem;
    height: 2.8rem;
    
    /* big screen
    width: 4.86rem;
    height: 4.86rem; */
}

.fi {
    color: var(--primary-color);
    font-size: 2.2rem;

/*     big screen
    font-size: 4.6rem; */
}

.search-merch-container {
    width: 100%;
}


.first-access-msg {
    position: relative;
    text-align: justify;
    
    font-size: .7rem;    
    
    
    /*big screen 
    border: 0.45rem solid var(--primary-color) !important;
    border-radius: 0.7rem;
    font-size: 2.5rem;     */
    
    border: 0.1rem solid var(--primary-color) !important;
    border-radius: 0.2rem;
    height: max-content;
    width: 100%;
    background-color: var(--msgs-primary);
}
.pointer {
    z-index: ;
    position: absolute;
    left: 100%;
    top: -1%;
    width: 1.4rem;
    height: 1.4rem;
}
.fi-ss-caret-down {
    position: relative;
    top: -1.9rem;
    left: -1.1rem;
    
    font-size: 4rem;
    color: var(--msgs-primary);
}

.search-bar {
    border: 0.1rem solid var(--primary-color) !important;
    border-radius: 0.2rem;
    width: 26.5rem;
    height: 3.2rem;
}
/*bigscreen 
.search-bar {
    width: 86%;
    height: 2.5rem;
} */

.search-bar-input { 
    margin-left: 0.5rem;  
    font-size: 1.2rem;
    
    /*bigscreen 
    font-size: 1.6rem; */
    border: 0.1rem solid var(--invis);
    
    color: var(--primary-color);
    color: var(--placeholder-color-txt);
    flex: 1;    
    height: -content;

    /*bigscreen 
    border-radius: 0.7rem;
    height: 4.43rem; */
}

.search-bar-line{
    margin-inline: .5rem;
    padding: 0 !important;
    height: 1.95rem;
    width: .1rem;
}

.search-bar-btn {
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--invis);
    height: 1.8rem;
    width: 1.8rem;
    border: 0.1rem solid var(--primary-color) !important;
    border-radius: 0.2rem;
}

.search-icon {
    font-size: 1.2rem;
}



.merch-box { 
    border: 0.1rem solid var(--primary-color) !important;
    border-radius: 0.2rem;
    height: 7.2rem;
    /* bigscreen
    border-radius: 0.5rem;
    height: 44rem;
    width: 86%;
    */
    width: 26.9rem;
    background-color: var(--primary-color);
}

.merch-line-left {
    margin-left: 22%;
    color: var(--secondary-color) !important;
    height: 80%; 
    width: 0.3rem;
}
.merch-line-right {
    margin-right: 22%;
    color: var(--secondary-color) !important;
    height: 80%; 
    width: 0.3rem;
}

.merch-arrow-left {
    background-color: var(--invis);
    
}

.merch-arrow-right {
    background-color: var(--invis);
    
}

.arrow-right {
    font-size: 1.4rem;
    color: var(--secondary-color)
}

.arrow-left {
    font-size: 1.4rem;
    color: var(--secondary-color)
}

.merch-text {
    font-size: 0.9rem;
    flex: 1;
}

.item-list {
    position: relative;
    border: 0.1rem solid var(--primary-color) !important;
    border-radius: 0.2rem;
    width: 30.7rem;
    height: 7.7rem;
}

.item-fav-button {
    background-color: var(--invis);
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    top: 0.4rem;
    left: 72.5%;
}

.item-fav-icon {
    font-size: 1.6rem;
}

.img-item {
    width: 5rem;
}

.item-bar-line {
    margin-left: .7rem;
    margin-right: .7rem;
    height: 6rem;
    width: 0.2rem;
}

.desc-item-short {
    height: 5.7rem;
    flex: 1;
    font-size: .8rem;
    color: var(--primary-color);
}


.desc-item-short > div {
    line-height: 0.9rem;
    height: 0.9rem;
}

.desc-item-title, .desc-item-atribute, .desc-item-loc-atribute {
    font-weight: 700;
} 

.fourth-line-desc, .fifth-line-desc, .sixth-line-desc {
    width: 100%;
    text-align: left;
}

.left-value {
    flex: 1;
}



.desc-item-log-value, .desc-item-loc-value {
    padding-left: 0.2rem;
}

.desc-item-loc-atribute, .desc-item-log-value, .desc-item-loc-value {
    width: 54%;
}

.desc-item-value, .desc-item-log-value, .desc-item-loc-value {
    margin-left: 0.2rem;
    font-weight: 500;
} 

.desc-values-contnr {
    height: 5.6rem;
    width: 5.1rem;
    font-size: .8rem;
    color: var(--primary-color);
}


.star-icon, .clock-icon-small {
    color: var(--primary-color);
    font-size: 1rem;
    height: 1rem;
}

.first-line-values, .second-line-values, .third-line-values {
    height: 1.1rem;
    margin: 0.15rem 0;
}

.first-line-value, .second-line-value, .third-line-value {
    text-align: center;
    font-weight: 700;
    flex: 1;
}

.second-line-unity {
    font-weight: 600;
    color: var(--terceary-color-txt);
}

.primary-shadow {
    box-shadow: -0.07rem 0.07rem 0.37rem 0.01rem var(--drop-shadow-color-primary);
}

.inner-shadow {
    text-shadow: 0 0 1rem var(--light-blur-color-primary), 0 0 2rem var(--light-blur-color-primary), 0 0 3rem  var(--light-blur-color-primary), 0 0 4rem var(--light-blur-color-primary); 
}
